<template>
  <div>
    <carousel></carousel>
    <div class="container">Hi Rushikesh Gore</div>
  </div>
</template>

<script>
// @ is an alias to /src
import carousel from "../components/Carousel.vue";

export default {
  name: "Home",
  components: { carousel }
};
</script>

<style scoped></style>
