<template>
  <div>
    <div id="carousel" class="agile__dot">
      <agile
        :dots="true"
        :autoplay-speed="5000"
        :speed="2500"
        fade="fade"
        pause-on-hover="pause-on-hover"
        pause-on-dots-hover="pause-on-dots-hover"
        autoplay="autoplay"
        ><img
          class="slide"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b6cfb470986679.5bb5b7f2e11ad.jpg"/>
        <img
          class="slide"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/3885e970986067.5bb5b1a2def63.jpg"/>
        <img
          class="slide"
          src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/def56670986639.5bb5b77b3ff60.jpg"/>
        <img
          class="slide"
          src="https://previews.123rf.com/images/foxaon/foxaon1204/foxaon120400030/13055780-green-technology-background.jpg"/>
        <img
          class="slide"
          src="http://toroccoscoolingandheating.com/wp-content/uploads/2017/12/890-895x430.jpg"
      /></agile>
    </div>
  </div>
</template>

<script>
import { VueAgile } from "vue-agile";

export default {
  name: "carousel",
  components: {
    agile: VueAgile
  }
};
</script>

<style>
.agile__dots {
  bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  right: 30px;
  position: absolute;
}
.agile__dot {
  margin: 5px 0;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button {
  background-color: #fff;
}
.slide {
  display: block;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
</style>
