<template>
  <div>
    <div>
      <nav class="nav primary-color m-0">
        <div class="block md:hidden float-right mr-5 mt-4">
          <button
            @click="toggle()"
            class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-black"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="hidden md:block float-right pt-3">
          <router-link active-class="active" to="/">Home</router-link>
          <router-link to="/about">About</router-link>
        </div>
        <img
          src="https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip"
          alt="logo"
          class="circular-logo"
        />
      </nav>
    </div>
    <div
      :class="isOpen ? 'block' : 'hidden'"
      class="inline-block md:hidden shadow-2xl p-4 w-32 h-full primary-color px-5 pt-20 fixed z-40"
    >
      <router-link class="block button-link" active-class="active" to="/"
        >Home</router-link
      >
      <router-link class="block button-link" to="/about">About</router-link>
    </div>
    <div
      :class="isOpen ? 'ml-0' : 'p-0'"
      class="block pl-0 md: nav-padding  primary-color "
    >
      <router-view />
    </div>
  </div>
</template>
<script>
export default {
  name: "App",
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggle() {
      return (this.isOpen = !this.isOpen);
    }
  }
};
</script>
<style scoped>
.circular-logo {
  @apply h-16 w-16 rounded-bl-lg px-2 py-2 ml-5 float-left;
}
.nav {
  @apply shadow-outline shadow-lg items-center h-16 w-full z-50 m-0 fixed;
}
nav a {
  @apply px-2 mt-2 py-1 mx-1 my-1 mr-5 pt-5;
}
nav a.router-link-exact-active {
  @apply border-green-700 border-b-4;
}
nav a:hover {
  @apply text-green-500;
}
.button-link {
  @apply px-5 py-3 text-black;
}
.button-link:hover {
  @apply text-green-700;
}
.nav-padding {
  padding-top: 58px;
}
</style>
